.login-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(120deg, #ee9898, #e0e0e0);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; /* Ensure it's on top */
}

.login-box {
  background-color: white;
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login-box h2 {
  margin-bottom: 10px;
  text-align: center;
}

.login-box input {
  padding: 10px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.login-box button {
  padding: 10px;
  font-size: 16px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.login-box button:hover {
  background-color: #555;
}

.create-account-button {
  margin-top: 10px;
  background-color: #6c63ff;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.create-account-button:hover {
  background-color: #4e47d0;
}
